/* Work Sans Font */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
}

#padding {
    padding: 15px;
}

.primary-txt {
    color: #F948B2;
    ;
}

.background {
    width: 150px;
    height: 30px;
    display: flex;
    padding: 3px;
    border-radius: 10px;
    justify-content: space-between;
    background-color: rgba(128, 128, 128, 0.438);
}

.btn {
    width: 130px;
    height: 45px;
    border-radius: 30px;
    color: white;
    text-decoration: none;
    margin-top: 50px;

}

.btn-pink {
    background-color: #F948B2;
}

.btn-blue {
    background-color: #4EC5F7;
}

header {
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
}

#nav-btn {
    width: 50px;
    height: 15px;
    background-color: beige;
}

.nav-img {
    width: 86px;
    height: 40px;
}

.nav-title {
    font-size: 2.8rem;
    font-weight: 700;
    margin: 0;
}

nav>div {
    display: flex;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 40px;
    font-weight: 500;
    font-size: 18px;
}

nav li a {
    text-decoration: none;
}

/* Banner Style */
.goat {
    font-size: 4rem;
    color: rgba(249, 72, 178, 100);
}

.banner {
    height: 700px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.banner-text {
    width: 900px;
    padding-top: 200px;
    font-size: 1.3rem;
    background-image: url(images/Group\ 14.png);
}

.banner-text li {
    list-style: none;
}

.banner-img img {
    width: 720px;
}

/* body {
    padding: 50px 240px;
} */

.online-games {
    display: block;
    justify-content: center;
    align-items: center;
}

.online-text {
    text-align: center;
    padding: 20px;
}

.game-collection {
    display: flex;
    justify-content: center;

}

#game-collection {
    display: block;
    padding: 10px;
    overflow: hidden;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    border-radius: 20px;
    transition: opacity 0.3s ease-in-out;
}

.overlay i {
    font-size: 50px;
    color: #fff;
    margin-bottom: 10px;
}

.overlay .hover-text {
    color: #fff;
    font-size: 18px;
}

#game-collection:hover img {
    transform: scale(1.1);
}

#game-collection:hover .overlay {
    opacity: 1;
}



.banner-2 {
    display: flex;
    justify-content: center;
    padding: 50px;
}

.banner2-txt {
    padding: 150px;
}

.inside-pic {
    width: 320px;
    position: relative;
    bottom: 250px;
    right: 100px;
}


.game-types {
    background-color: #f948b225;
    padding-top: 30px;
}

.game-type {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.game {
    width: 200px;
    height: 80px;
    display: flex;
    margin: 20px;
    background-color: white;
    border: solid;
    border-color: white;
    border-radius: 50px;
}

.game:hover {
    border-color: #F948B2;
    color: #F948B2;
}

.game img {
    padding: 5px;
}

footer {
    background-color: #0B0223;
    color: white;
}

.footer-title img {
    width: 3rem;
    height: 2rem;
}

.footer-title {
    display: flex;
    justify-content: center;
    padding: 20px;

}

.footer-title h1 {
    margin: 0;
}

.footer-options {
    display: flex;
    justify-content: center;
    color: white;
}

.footer-icons {
    display: flex;
    justify-content: center;
    margin: 0;
    margin: auto;
}

.footer-icons i {
    width: 50px;
}

.footer-policy {
    display: flex;
    justify-content: center;
    color: grey;
}



/* Responsive media queries for mobile */
@media screen and (max-width:576px) {
    header {
        padding: 20px;
        max-width: 425px;
    }

    nav {
        flex-direction: column;
        width: 400px;
        align-items: center;

    }

    nav ul {
        flex-direction: column;
        padding: 5px;
        text-align: center;
    }

    .banner {
        max-width: 400px;
        width: 425px;
        flex-direction: column;
        text-align: center;

    }

    .banner-text {
        padding-top: 50px;
        width: 400px;
    }

    .banner .banner-img img {
        max-width: 400px;
    }

    .online-games {
        padding-top: 150px;
    }

    .game-collection {
        flex-direction: column;
        text-align: center;

    }

    .banner-2 {
        flex-direction: column;
    }

    .banner2-txt {
        padding: 20px;
        text-align: center;
    }

    .banner2-img img {
        width: 100%;
    }

    .inside-pic img {
        width: 60%;
        position: relative;
        left: 60px;
        top: 120px;
    }
    .game-types {
        background-color: #f948b225;
        padding-top: 30px;
    }
    
    .game-type {
        /* flex-direction: column; */
    }
    
    .game {
        width: 70px;
        height: 30px;
        display: flex;
        font-size: smaller;
        background-color: white;
        border: solid;
        border-color: white;
        border-radius: 50px;
    }


}